.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;

    img {
        display: block;
        flex-shrink: 0;
        width: 30%;
    }

    &::after {
        content: "MobyBolt";
        display: block;
        width: 70%;
        font-size: 36px;
        font-size: max(5vw, 3em);
        text-align: right;
    }
}
